.main{
    border: 1px solid black;
    width: 50%;
    
}
.container{
    width: 40%;
    
    border: 1px solid black;
}
input[type = 'submit']{
    border: 1px solid black;
    background: transparent;
}