{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %} 
<form method="POST">
    <div class="form-group">
        <label for="email">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter pitch title">
    </div>
     <div class="dropdown ">
          
        <label for="category">Category</label> <br>
        <input type="text" class="dropdown-toggle" id="categoryDropdown" name="category"
            placeholder="Choose Pitch Category" data-bs-toggle="dropdown" aria-expanded="false">
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="categoryDropdown">
            <li><a class="dropdown-item active" href="#">Promotion Pitch</a></li>
            <li><a class="dropdown-item" href="#">Product Pitch</a></li>
            <li><a class="dropdown-item" href="#">Pickup Line</a></li>
     
        </ul> 
     </div> <br>
   
    <div class="form-group">
        <label for="email">Pitch details</label>
        <textarea name="pitch" id="pitch" class="form-control"></textarea>
    </div>    

   
    <div align="centre">
        <button type="submit" class="btn btn-secondary">Post Pitch</button>
    </div>

    
</form>
{% endblock %}